import React, { useState } from "react";
import styles from "./'{{ properCase name }}'.module.less";



const "{{ properCase name }}": React.FC =() => {
  const [state, setState] = useState<any>(0);

  return (
    <div className={}>"{{ properCase name }}"</div>
  )
}

export default "{{ properCase name }}";